{% extends 'layout.twig' %}
{% set headers = ['#','First Name','Last Name','Email','City','Mobile','Action'] %}
{% block body %}
  <h1>{{title}}</h1>

  <div class="userlistingserach"
    <form action="/userlistingsearch" id="userlistingsearchForm" class="userlistingsearchForm" method="post">
      <lable>By Name</lable>
      <input type="text" id="searchName" class="" name="fltrname" placeholder="Enter Name">      
      <lable>By Email</lable>
      <input type="text" class="" name="fltremail" placeholder="Enter Email">
      <input type="submit" class="btn btn-primary" name="submit" placeholder="Filter">
    </form>
  </div>
  <div>&nbsp;</div>

  <table>
    <thead>
      <tr>
        {% for head in headers %} 
          <th>{{ head }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% set inc = 1 %}
    {% for user in users %} 
      <tr>
        <td>{{inc}}</td>
        <td>{{ user.firstname|upper }}</td>
        <td>{{ user.lastname|upper }}</td>
        <td>{{ user.email|upper }}</td>
        <td>{{ user.city|upper }}</td>
        <td>{{ user.mobile }}</td>
        <td><a class="btn btn-primary" href="user/{{ user.id }}/edit">Edit</a></td>
      </tr>
    {% set inc = inc + 1 %}
    {% endfor %}
  </table>
{% endblock %}